*{
    font-family: "Karla", serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}


main .background{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* padding: 20px; */
    background-color: rgb(2, 2, 41);
}

.game-board{
    /* border: 1px solid red; */
    height: 90%;
    width: 90%;
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.die-container{
    /* border: 1px solid red; */
    width: 90%;
    max-height: 400px;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 15px; */
}

.die{
    background-color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    margin: 10px 15px;
    box-shadow: 0px 12px 21px -6px rgba(0,0,0,0.83);
-webkit-box-shadow: 0px 12px 21px -6px rgba(0,0,0,0.83);
-moz-box-shadow: 0px 12px 21px -6px rgba(0,0,0,0.83);
    cursor: pointer;
}

.roll-die{
    /* margin-top: 20px; */
    height: 40px;
    width: 100px; 
    border: none;
    color: white;
    font-size: 17px;
    /* white-space: nowrap; */
    font-weight: 600;
    border-radius: 5px;
    background-color: rgb(18, 18, 177);
    transition: 0.3s;
}

.roll-die:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.roll-die:focus{
    outline: none;   
}

.game-info{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.game-info h1{
    margin: 0;
    margin-bottom: 10px;
    color: rgb(18, 18, 177);
}

.game-info p{
    margin: 0;
    text-align: center;
    font-size: 14px;
    color: rgb(11, 19, 11);
}

.game-won{
    font-size: 20px;
    color: rgb(19, 255, 19);
    font-weight: 700;
}

@media screen and (max-width: 430px) {
    .die{
        width: 40px;
        height: 40px;
    }
    .game-info h1{
        font-size: 20px;
    }   
    .game-info p{
        font-size: 12px;
    }   
    .roll-die{
        height: 40px;
        white-space: nowrap;
        width: auto;
        padding: 6px 21px;
        margin-top: 0;
        font-size: 13px;
    }
    
    .game-won{
        font-size: 25px;
    }
    .die-container{
        margin-bottom: 0;
        padding-bottom: 15px;
    }

}